@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    background-image: url('images/marble-cover.jpg');
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}
.payment-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}
.form-group {
    margin-bottom: 18px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="number"], input[type="month"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: rgb(151, 151, 151);;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #878585;
}